# macOS
.DS_Store

# Xcode user data
xcuserdata/
*.xcuserstate
*.xccheckout
*.xcscmblueprint

# Xcode workspace and project user settings
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcworkspace/xcuserdata/

# Swift Package Manager
.build/
Packages/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/

# Archives and build products
build/
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM

# Playground
timeline.xctimeline
playground.xcworkspace
