<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.293241377764-fnmtgl5h16pprkhdhlm2bto77u9nf0pq</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>293241377764-fnmtgl5h16pprkhdhlm2bto77u9nf0pq.apps.googleusercontent.com</string>
	<key>LSMinimumSystemVersion</key>
	<string>26.0</string>
	<key>NSHealthShareUsageDescription</key>
	<string>Wobbly использует данные о тренировках чтобы отмечать спортивные дни</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>Wobbly может записывать данные в Health</string>
</dict>
</plist>
